@font-face {
    font-family: Soukou;
    src: url(../font/SoukouMincho-2.ttf);
    font-weight: bold;    
}
    
@font-face {
    font-family: SourceSan;
    src: url(../font/sourceSan/SourceHanSansCN-Heavy.otf);
    font-weight: bold;
}
@font-face {
    font-family: SourceSan;
    src:url(../font/sourceSan/SourceHanSansCN-Light.otf);
    font-weight: normal;
}
@font-face {
    font-family: SourceSerif;
    src:url(../font/sourceSerif/SourceHanSerifCN-Heavy.otf);
    font-weight: bold;
}
@font-face {
    font-family: SourceSerif;
    src:url(../font/sourceSerif/SourceHanSerifCN-Light.otf);
    font-weight: normal;
}
@font-face {
    font-family: SourceSerif;
    src:url(../font/sourceSerif/SourceHanSerifCN-Medium.otf);
    font-weight: 500;
}



body{
    background-color: #f5f8fa;
    width: 100%;
    margin: 0 auto;
}
h1{
    color: #182026;
    font-family: SourceSerif,serif;
}
h2{
    color: #182026;
    font-family: SourceSerif,serif;
    font-size: 16px;
}
h3{
    color: #182026;
    font-family: SourceSerif,serif;
    font-weight: 500;
    font-size: 16px;
}
p,li{
    color: #182026;
    font-family: SourceSerif,serif;
    font-size: 14px;
}
header {
    width: 100%;
    background-color:#f5f8fa;
    background-image: url("../../images/textures/cubes.png");
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 5vw;
    padding-right:0em;
    position: sticky;
    top: 0;
    /* margin-bottom: 12px; */
    border-bottom: 1px solid #182026;
    z-index: 9999;
}
.buttons {
    /* Background color */
    margin-bottom: 0px;
    padding-bottom: 0px;
    /* Stick to the top */
    position: sticky;
    top: 0;

    /* Displayed on top of other rows when scrolling */
    z-index: 9999;
}
.header_name{
    color: #182026;
    font-family: SourceSerif,serif;
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    margin: 0px;
}

footer{
    bottom: 0;
    text-align: center;
    border-top:1px solid #182026 ;
}

.items{
    width: 50%;
    float:center;
    border-width: 20px;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 8px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 8px;
    border-bottom: 1px dotted #333333;
}
.items>h1{
    color: #182026;
    font-family: SourceSerif,serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
    margin: 0px;
}
.items>subh1{
    color: #182026;
    font-family: SourceSerif,serif;
    font-size: 12px;
    line-height: 16px;
}

.container {
    display: flex;
    flex-direction: column;
}

.container__main {
    /* Take the remaining height */
    flex-grow: 1;

    /* Layout the left sidebar, main content and right sidebar */
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
}

.container__left {
    width: 25%;
    background-color: #f5f8fa;
    margin: 8px;
    border-right:1px double #5c7080;
}

.container__middle {
    /* Take the remaining width */
    width: 75%;
    background-color: #f5f8fa;
    margin: 8px;
    display: flex;
    flex-direction: column;
}
.columncard {
    display: flex;
    flex-direction: column;
    margin: 12px;
    border-bottom: 1px solid #5c7080;
    border-top: 1px solid #5c7080;
    margin-bottom: 8px;
    border-radius: 2px;
}

.columncard__cover {
    height: 100%;
    width: 100%;
}

.columncard__content {
    /* Take available height */
    flex: 1;
}
.cards {
    /* It is split into 3 columns */
    column-count: 3;

    /* The space between columns */
    column-gap: 1rem;

    /* Misc */
    width: 100%;
}

.cards__item {
    text-align:justify;
    break-inside: avoid;
    margin-bottom: 1rem;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 12px ;
    opacity: 75%;
}
.cards__item:hover{
    background-color: #f4f4f4;
    opacity: 100%;
    border-radius: 4px;
    border: 1px dotted #5c7080;
}
.button {
    /* Center the content */
    width: 100px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 4px;
    border: 0;
    background-color: #f5f8fa00;
}
.button:hover{
    color: #f5f8fa;
    background-color: #7386944D;

}
.button:active{
    color: #f5f8fa;
    background-color: #738694;

}